.statistics {
  margin-bottom: 20px;
}

.label {
  text-align: center;
  margin-bottom: 10px;
}

.percentage {
  text-align: center;
  font-size: larger;
}

.title {
  text-align: center;
  margin: 0px;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  padding: 10px;
}

.statList {
  display: flex;
  justify-content: space-between;
}
